html {scroll-behavior: smooth;}

body {
    margin: 0;
    padding: 0;
    color: #222;
    font-size: 14px;
}

nav {
    background: linear-gradient(180deg, #fff 0%, #eee 10%);
    background-color: #eeeeee;
    inline-size: 25%;
    block-size: 100%;
    padding-block-start: 5%;
    position: fixed;
    inset-block-start: 100px;
}

nav ul {
    list-style-type: none;
    padding-inline-start: 1.0em;
    text-align: start;
}

nav ul li {
    block-size: 15%;
    padding-inline-end: 5%;
    margin-block-end: 1.0em;
}

nav ul li a {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #00f;
    cursor: pointer;
}

nav ul li p {
    font-size: 1.0em;
    margin: 0;
    padding: 0;
    color: #555;
    font-family: Times, serif;
    font-style: italic;
}

#logo {
    inline-size: 25%;
    text-align: center;
    position: fixed;
    inset-block-start: 10px;
    inset-inline-start: 10px;
    z-index: 2;
}

#logo img {
    inline-size: 128px;
}

main {
    margin-inline-start: 26%;
}

h1, h3 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.3em;
    font-family: Arial, sans-serif;
}

p {
    font-family: Times, sans-serif;
}


main {
    margin-block-end: 100.0em;
}

main h3 {
    margin-block-start: 1.0em;
}

main section > p {
    background-color: #f7f7f7;
    padding: 5px;
    margin-block-start: 0;
    border: 1px solid #f0f0f0;
    margin-inline-end: 1.0em;
}

fieldset {
    margin-inline-end: 1.0em;
}

.glyphicon-plus-sign {
    font-size: 18px;
}

.nevermind {
    color: white;
    background-color: red;
    font-weight: bold;
    margin-inline-start: 1.0em;
    inline-size: 1.0em;
    block-size: 1.0em;
    border-radius: 15px;
}

ul {
    margin-inline-start: 0;
    padding-inline-start: 0;
    list-style-type: none;
}

li {
    vertical-align: middle;
}

button {
    margin-inline-end: 0.5em;
}

.strike span {
    text-decoration: line-through;
    background-color: #ffdddd
}

button#save {
    color: blue;
}

button#save.disabled {
    color: #999;
}

#add {
    float: inline-end;
}
span.note {
    color: #999;
    font-size: 0.8em;
    padding-inline-start: 1.0em;
    font-style: italic;
}